doctype
html
  head
    meta(charset="utf-8")
    title サンプルページ
    link(rel="stylesheet",href="style.css")
  body
    include include/header_file
    
    h1= title
    if form != null
      -myname = form.myname
      -mail = form.mail
      -age = form.age
      p= 'send: ' + myname + '.' + age
    else
      p= msg
    form(method='post',action='/')
      table
        tr
          td
            input(type='text',name='myname',value=myname)
        tr
          td
            input(type='text',name='mail',value=mail)
        tr
          td
            input(type='text',name='age',value=age)
        tr
          td
            input(type='submit')
    table
      for item,index in datas
        case index % 3
          when 0
            tr(style="color:red")
              td= item.myname
              td= item.mail
              td= item.age
          when 1
            tr(style="color:green")
              td= item.myname
              td= item.mail
              td= item.age
          when 2
            tr(style="color:blue")
              td= item.myname
              td= item.mail
              td= item.age
    include include/footer_file
